/*Regras*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Fim das Regras*/

/*Variáveis Globais*/

:root{
    --font: 'Roboto', serif, sans-serif;
    --light: 300;
    --regular: 400;
    --bold: 700;

    --section-2: #2e303e;
    --section-4: #145d6e;

    --link: #A47BEA;
}

/*Fim das Variáveis Globais*/

/*Configurações Globais*/

html{height: 100%;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

* h1{
    font-weight: var(--light);
    font-size: 2em;
    line-height: 1.3;
    letter-spacing: -.01em;
}

* h2{
    font-weight: var(--bold);
    font-size: 1.5625em;
    line-height: 1.4;
    letter-spacing: -.01em;
}

* p{
    font-weight: var(--regular);
    font-size: .8rem;
    line-height: 1.6;
}

/*Fim das Configurações Globais*/

/*Main*/

main{
    max-width: 1920px;
    margin: 0 auto;
}

/*Fim da Main*/

/*Seção 1*/

#section_1{
    max-height: 1600px;
    background-color: var(--section-2);
}

#section_1 > img {
    width: 100%;
    object-fit: contain;
}

/*Fim da Seção 1*/

/*Seção 2*/

#section_2{
    max-height: 1330px;
    background-color: #2e303e;
    padding-bottom: 100px;
}

#section_2 h1{
    text-align: center;
    color: #d2d7f9;
    opacity: 62%;
    margin-bottom: 25px;
}

#section_2 h2, p, span{color: #e9ebfc;}

#section_2 span{
    font-weight: var(--bold);
    font-size: 1.5625em;
    line-height: 1.4;
    letter-spacing: -.01em;
}

#flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;
}

#flex .item{
    width: 100%;
    max-width: calc(70% / 2);
    margin: 20px 0;
}

#flex .item .alinha{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#flex .item .alinha img{
    width: 64px;
    margin-right: 20px;
}

#flex .item p{
    font-size: 20px;
    text-align: justify;
    padding-left: 85px;
}

/*Fim da Seção 2*/

/*Seção 3*/

#section_3{
    max-height: 2070px;
    padding-bottom: 300px;

    background-image: url(../images/Fundo\ 3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

#section_3 h1{
    text-align: center;
    padding: 25px 0;
    color: #000008;
    opacity: 54%;
    margin-bottom: 25px;
}

#section_3 > h2, #section_3 p{
    color: #000000;
    opacity: 87%;
}

#section_3 .flex_3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;
}

#section_3 div:last-child{margin-top: 30px;}

#section_3 .flex_3 .texto{
    width: calc(94% / 2);
    padding: 0px 25px 0px 25px;
}

#section_3 .flex_3 .texto p{
    font-size: 20px;
    text-align: justify;
}

#section_3 .flex_3 img{
    width: 100%;
    max-width: 870px;
}

/*Fim da Seção 3*/

/*Seção 4*/

#section_4{
    max-height: 1800px;
    background-color: var(--section-4);
}

#section_4 h1, h2, p{color: #ffffff;}

#section_4 h1{text-align: center;}

#section_4 #flex_4{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    padding: 80px 0;
}

#section_4 #flex_4 .menbro{
    width: calc(100% / 3);
    text-align: center;
}

#section_4 #flex_4 .menbro .line{
    display: inline-block;
    width: 150px;
    border-bottom: 2px solid white;
}


#section_4 #flex_4 .menbro img{
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
}

/*Fim da Seção 4*/

/*Responsivo*/



/*Fim do Responsivo*/